.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.row {
  width: 100% !important;
  display: block;
}
.field {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: aqua;
  border: 1px solid black;
}

.revealed {
  background-color: beige;
}

.revealed.mine {
  background-color: red;
}

.field .reveal {
  float: left;
  margin: 20px 1px 0;
  padding: 0;
  border: 1px solid grey;
  background-color: aquamarine;
}
.field .lock{
  border: 1px solid grey;
  float: right;
  margin: 20px 1px 0;
  padding: 0;
  background-color: aliceblue;
}

.field .label {
  font-weight: bolder;
  font-size: 1em;

}
.locked {
  background-color: darkred;
}